<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TheWeatherForecast.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>336006791D621B0D00ACDF90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>336006951D621B0D00ACDF90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>336006A01D621B0D00ACDF90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33F957881D6A0C230023CB34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
